<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header h5"><%= t("views.devise.registrations.edit.password_change") %></div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                     html: { method: :put }, data: { turbo: false }) do |f| %>
          <%= render "shared/error_messages", model: resource %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div><%= t("views.devise.registrations.edit.unconfirmed_email") %> <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="mb-3">
            <%= f.label :password, class: "form-label mb-0 fw-bold" %>
            <i>(<%= t("views.devise.registrations.edit.label_password") %>)</i>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              <p><em><%= @minimum_password_length %>
                     <%= t("views.devise.registrations.edit.password_length") %></em></p>
            <% end %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, class: "form-label mb-0 fw-bold" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                 class: "form-control"%>
          </div>

          <div class="mb-3">
            <%= f.label :current_password, class: "form-label mb-0 fw-bold" %>
            <%= f.password_field :current_password, autocomplete: "current-password",
                                 class: "form-control" %>
          </div>

          <div>
            <%= f.submit t("views.submit"), class: "btn btn-primary" %>
          </div>
        <% end %>

        <hr>
        <div class="h5"><%= t("views.devise.registrations.edit.delete_account") %></div>

        <p><%= t("views.devise.registrations.edit.unhappy") %>
          <%= button_to t("views.delete"), registration_path(resource_name),
                        data: { turbo_confirm: t("views.deletion_confirm") }, method: :delete,
                        class: "btn btn-danger" %></p>
      </div>
      <div class="card-footer">
        <%= link_to t("views.back"), :back, class: "text-decoration-none" %>
      </div>
    </div>
  </div>
</div>
