<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header h5"><%= t("views.devise.new.forgot_your_password") %></div>

      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                     html: { method: :post }, data: { turbo: false }) do |f| %>
          <%= render "partials/error_messages", model: resource %>

          <div class="mb-3">
            <%= f.label :email, class: "form-label mb-0 fw-bold" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit t("views.devise.new.change_password"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
