<div class="row mb-5">
  <div class="col-md-8">
    <%= form_with(model: game, builder: Polaris::FormBuilder, data: { turbo: false }) do |form| %>
      <%= polaris_form_layout do |form_layout| %>
        <% form_layout.with_item do %>
          <%= polaris_visually_hidden do %>
            <%= form.polaris_text_field(:user_id, type: :number) %>
          <% end %>
        <% end %>

        <% form_layout.with_item do %>
          <%= form.polaris_text_field(:title, required: true) %>
        <% end %>
        <% form_layout.with_item do %>
          <%= form.polaris_text_field(:address, required: true) %>
        <% end %>
        <% form_layout.with_item do %>
          <%= form.polaris_text_field(:datetime, type: :datetime_local, required: true) %>
        <% end %>
        <% form_layout.with_item do %>
          <%= form.polaris_text_field(:description, multiline: true, rows: 4) %>
        <% end %>
        <% form_layout.with_item do %>
          <%= form.polaris_text_field(:pincode) %>
        <% end %>

        <% form_layout.with_item do %>
          <%= polaris_button(submit: true, primary: true) { t("views.submit") } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
