<div class="h2"><%= t("views.games.password_form.pincode_access") %></div>

<%= form_for("", method: "post") do |form| %>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-6">
      <div class="mt-3">
        <%= label_tag :pincode, t("activerecord.attributes.game.pincode"), class: "form-label mb-0" %>
        <%= text_field_tag :pincode, params[:pincode], class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-5"><%= submit_tag t("views.submit"), class: "btn btn-primary", data: { turbo: false } %></div>
<% end %>
