<%= polaris_page(title: @game.title) do %>
  <%= polaris_description_list do |list| %>
    <% list.with_item(term: t("views.games.show.initiator")) do %>
      <%= polaris_link(url: user_path(@game.user), no_underline: true) { @game.user.name } %>
    <% end %>
    <% list.with_item(term: t("activerecord.attributes.game.address")) do %>
      <%= @game.address %>
    <% end %>
    <% list.with_item(term: t("activerecord.attributes.game.datetime")) do %>
      <%= l @game.datetime, format: :long %>
    <% end %>
    <% list.with_item(term: t("activerecord.attributes.game.description")) do %>
      <%= @game.description %>
    <% end %>
  <% end %>

  <% if current_user_can_edit?(@game) %>
    <div class="mb-5">
      <%= polaris_stack do |stack| %>
        <% stack.with_item do %>
          <%= polaris_button(url: edit_game_path(@game)) { t("views.edit") } %>
        <% end %>
        <% stack.with_item do %>
          <%= polaris_button_to(t("views.delete"),
                                game_path(@game),
                                method: :delete,
                                destructive: true,
                                data: { turbo_confirm: t("views.deletion_confirm") }) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% unless @game.visitors.include?(current_user) %>
    <%= render partial: "subscriptions/form", locals: {
      subscription: @new_subscription || @game.subscriptions.build
    } %>
  <% end %>

  <% if @game.subscriptions.except(@new_subscription).any? %>
    <div class="mt-5 mb-3">
      <%= polaris_text(variant: :headingLg, as: :h5) { t("views.games.show.participate") } %>
    </div>
    <div class="mb-5 ps-3">
      <%= render partial: "subscriptions/subscription",
                 collection: @game.subscriptions
                                  .except(@new_subscription)
                                  .includes(user: :avatar_attachment) %>
    </div>
  <% end %>

  <% if @game.photos.any? || current_user %>
    <div class="mb-3">
      <%= polaris_text(variant: :headingLg, as: :h5) { t("views.games.show.photos") } %>
    </div>
  <% end %>
  <% if @game.photos.any? %>
    <div class="mb-5">
      <%= render partial: "photos/photo",
                 collection: @game.photos
                                  .except(@new_photo)
                                  .includes([:user, { photo_attachment: :blob }]) %>
    </div>
  <% end %>

  <% if current_user %>
    <div class="mb-5">
      <%= render partial: "photos/form", locals: { photo: @new_photo || @game.photos.build } %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= polaris_text(variant: :headingLg, as: :h5) { t("views.games.show.comments") } %>
  </div>
  <div class="mt-4 mb-3">
    <%= render partial: "comments/form", locals: { comment: @new_comment || @game.comments.build } %>
  </div>
  <div class="mb-5">
    <%= render partial: "comments/comment",
               collection: @game.comments
                                .except(@new_comment)
                                .includes(%i[user]) %>
  </div>
<% end %>
