<h1><%= t(".title") %></h1>
<p><%= @comment.body %></p>
<p><%= t(".author") %>: <strong><%= @comment.user_name %></strong></p>

<hr/>

<%= t(".game") %>
<h3><%= link_to @game.title, @game %></h3>

<%= t(".datetime") %>
<h4><%= l @game.datetime %></h4>

<%= t(".owner") %>
<h4><%= @game.user.name %></h4>
