<h1><%= t(".title") %></h1>
<p><%= image_tag attachments[@photo.photo.identifier].url %></p>
<p><%= t(".author") %>: <strong><%= @photo.user.name %></strong></p>

<hr/>

<%= t(".game") %>
<h3><%= @game.title %></h3>

<%= t(".datetime") %>
<h4><%= l @game.datetime %></h4>

<%= t(".owner") %>
<h4><%= @game.user.name %></h4>
