<h1><%= t(".title") %></h1>
<p><%= url_for(image_tag @photo.photo.variant(:big).processed) %></p>
<p><%= t(".author") %>: <strong><%= @photo.user.name %></strong></p>

<hr/>

<%= t(".game") %>
<h3><%= link_to @game.title, @game %></h3>

<%= t(".datetime") %>
<h4><%= l @game.datetime %></h4>

<%= t(".owner") %>
<h4><%= @game.user.name %></h4>
