<!DOCTYPE html>
<html>
  <head>
    <title>Boardgames</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-dark bg-primary mb-3'>
      <div class='container-fluid'>
        <%= link_to 'BOARD_GAMES', games_path, class: 'navbar-brand mb-0 ms-sm-5 h1' %>
        <div class='d-flex'>
          <% if user_signed_in? %>
            <%= link_to current_user.name, current_user, 
              class: 'btn btn-success me-sm-3' %>
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete,
              class: 'btn btn-danger me-sm-5' %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, 
              class: 'btn btn-warning me-sm-3' %>
            <%= link_to 'Sign in', new_user_session_path, 
              class: 'btn btn-warning me-sm-5' %>
          <% end %>
        </div>  
      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <% if flash[:notice].present? %>
            <div class='container-sm'>
              <div class="alert alert-success alert-dismissible">
                <%= flash[:notice] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
            </div>
          <% elsif flash[:alert].present? %>
            <div class='container-sm'>
              <div class='alert alert-danger alert-dismissible'>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <%= flash[:alert] %>
              </div>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
